.upload-form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    > button {
        margin-left: 10px;
        margin-bottom: 18px;
    }
}

.chart-map-container {
    display: flex;
    width: 100vw;
    height: 600px;
    justify-content: space-around;
    .chart-container {
        width: 45%;
        height: 100%;
    }

    .maps-container {
        width: 45%;
        height: 100%;
    }
}
