.upload-form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 320px;
    margin: 10px auto 0 auto;
    padding-top: 15px;
    border-radius: 4px;

    > button {
        margin-left: 10px;
        margin-bottom: 18px;
    }
}
