<div class="chart-map-container">
  <div class="chart-container">
    <ng-container *ngTemplateOutlet="chartTemplate;context:context"></ng-container>
  </div>
</div>
<div *ngIf="showIntervalSlider" class="slider-container">
  <h3>Interval size</h3>
  <mat-slider
    [formControl]="sliderFC"
    thumbLabel
    tickInterval="1"
    step="5"
    min="5"
    max="120"
  ></mat-slider>
  <span>{{ sliderFC.value }} seconds</span>
  <button
    mat-raised-button
    class="confirm-button"
    color="primary"
    (click)="changeInterval(sliderFC.value)"
  >
    Confirm
  </button>
</div>