/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-spacer {
    flex: 1 1 auto
}

.mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item:focus {
    background-color: rgba(200,100,200,0.4);
}