.accordion-container {
    height: calc(100% - 64px);
    overflow: auto;

    .tables-accordion {        
        .table-expansion-panel {
            &-body {
                background-color: #dafaff;
                width: 100%;
                padding: 20px 0;
            }
        }
    }
}

::ng-deep.table-expansion-panel .mat-expansion-panel-body {
    padding: 0;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 1140px;
    max-width: 1400px;
    margin: 0 auto 0 auto;

    &.hide {
        position: fixed;
        top: -5000px;
    }
}

mat-table {
    width: 100%;
    max-height: 547px;
    overflow: auto;
    flex: 1 1 auto;
    border-radius: 5px 5px 0 0;
}

mat-paginator {
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.numeric-column {
    justify-content: flex-end;
}

.date-column {
    min-width: 150px;
}

.address-column {
    word-break: break-all;
}

[mat-cell],
mat-cell,
[mat-header-cell],
mat-header-cell {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

[mat-cell]:first-child,
mat-cell:first-child,
[mat-header-cell]:first-child,
mat-header-cell:first-child {
    border-left: 0;
}

[mat-cell]:last-child,
mat-cell:last-child,
[mat-header-cell]:last-child,
mat-header-cell:last-child {
    border-right: 0;
}

[mat-header-cell],
mat-header-cell {
    font-size: 20px;
    justify-content: center;
    padding-left: 12px !important;
}

.mat-cell,
mat-cell {
    padding-left: 12px !important;
    padding-right: 12px !important;
    cursor: pointer;
}

mat-header-cell:last-of-type {
    padding-right: 0;
}

.flex-spacer {
    flex: 1 1 auto;
}

.loading-container {
    width: 100%;
    height: 100%;
    background-color: rgba(50,50,50,0.4);
    position: absolute;
    top: 64px;
    z-index: 100;
}

mat-spinner {
    top: calc(50% - 114px);
    left: calc(50% - 50px);
}